---
import { Image } from "astro:assets";

import playstore from "../images/playstore.svg";
import appstore from "../images/appstore.svg";

import app from "../images/mobileapp.webp";
import facebook from "../images/facebook.webp";
import x from "../images/x.webp";
import instagram from "../images/instagram.webp";
import linkedin from "../images/linkedin.webp";
import youtube from "../images/youtube.webp";
import logoWhite from "../images/CPH_logo_white.webp";
---

<footer>
  <div class="upper">
    <ul class="small-screen-lists">
      <li class="menu-item">
        <input type="checkbox" class="menu-checkbox" />
        <label class="menu-label" for="menu-checkbox">KUNDESERVICE</label>
      </li>
      <ul class="sub-list">
        <li><a href="/">Kundeservice forside</a></li>
        <li><a href="">Shopping</a></li>
        <li><a href="/parkering/">Parkering</a></li>
        <li><a href="/hittegods/">Hittegods</a></li>
        <li><a href="/kontakt/">Klager</a></li>
        <li><a href="/kontakt/">Kontakt kundeservice</a></li>
        <li><a href="">Kontrolrapporter</a></li>
        <li><a href="">CPH Airport app</a></li>
      </ul>
      <li class="menu-item">
        <input type="checkbox" class="menu-checkbox" />
        <label class="menu-label" for="menu-checkbox">OM CPH</label>
      </li>
      <ul class="sub-list">
        <li><a href="">Job i CPH</a></li>
        <li><a href="">Presse</a></li>
        <li><a href="">Investor</a></li>
        <li><a href="">Organisation</a></li>
        <li><a href="">Klima & miljø</a></li>
        <li><a href="">Udviklingsplaner</a></li>
        <li><a href="">Airport Tours</a></li>
      </ul>
      <li class="menu-item">
        <input type="checkbox" class="menu-checkbox" />
        <label class="menu-label" for="menu-checkbox">CPH BUSINESS</label>
      </li>
      <ul class="sub-list">
        <li><a href="">Shopping Center</a></li>
        <li><a href="">Advertising in CPH</a></li>
        <li><a href="">Aviation</a></li>
        <li><a href="">Real Estate Sales</a></li>
        <li><a href="">Adgang og færdsel</a></li>
        <li><a href="">CPH NOW</a></li>
        <li><a href="">Indkøb og Bygge- & Anlægsprojekter</a></li>
        <li><a href="">Firmaparkering</a></li>
      </ul>
    </ul>
    <div class="lists">
      <ul>
        <li><a href="/">KUNDESERVICE</a></li>
        <li><a href="">Shopping</a></li>
        <li><a href="/parkering/">Parkering</a></li>
        <li><a href="/hittegods/">Hittegods</a></li>
        <li><a href="/kontakt/">Klager</a></li>
        <li><a href="/kontakt/">Kontakt kundeservice</a></li>
        <li><a href="">Kontrolrapporter</a></li>
        <li><a href="">CPH Airport app</a></li>
      </ul>
      <ul>
        <li><a href="">OM CPH</a></li>
        <li><a href="">Job i CPH</a></li>
        <li><a href="">Presse</a></li>
        <li><a href="">Investor</a></li>
        <li><a href="">Organisation</a></li>
        <li><a href="">Klima & miljø</a></li>
        <li><a href="">Udviklingsplaner</a></li>
        <li><a href="">Airport Tours</a></li>
      </ul>
      <ul>
        <li><a href="">CPH BUSINESS</a></li>
        <li><a href="">Shopping Center</a></li>
        <li><a href="">Advertising in CPH</a></li>
        <li><a href="">Aviation</a></li>
        <li><a href="">Real Estate Sales</a></li>
        <li><a href="">Adgang og færdsel</a></li>
        <li><a href="">CPH NOW</a></li>
        <li><a href="">Indkøb og Bygge- & Anlægsprojekter</a></li>
        <li><a href="">Firmaparkering</a></li>
      </ul>
    </div>
    <div class="ads">
      <div class="app">
        <Image src={app} alt="telefon som viser app" />

        <div class="getapps">
          <p>Download CPH App</p>
          <a target="_blank" href="https://apps.apple.com/dk/app/cph-airport/id381517014">
            <img src={appstore.src} alt="App store" />
          </a>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=dk.cph.cphairport">
            <img src={playstore.src} alt="Google play" />
          </a>
        </div>
      </div>
      <div class="socials">
        <a href="https://www.facebook.com/cphairport" target="_blank">
          <Image src={facebook} alt="facebook" height={32} />
        </a>
        <a href="https://www.instagram.com/copenhagenairport/" target="_blank">
          <Image src={instagram} alt="instagram" height={32} />
        </a>
        <a href="https://x.com/cphairports" target="_blank">
          <Image src={x} alt="x / twitter" height={32} />
        </a>
        <a
          href="https://www.linkedin.com/company/copenhagen-airports/"
          target="_blank"
        >
          <Image src={linkedin} alt="linkedin" height={32} />
        </a>
        <a
          href="https://www.youtube.com/user/CopenhagenAirportCPH"
          target="_blank"
        >
          <Image src={youtube} alt="youtube" height={32} />
        </a>
      </div>
    </div>
  </div>
  <div class="lower">
    <div>
      <ul class="small-gap-list">
        <li>© 2021 Københavns Lufthavne A/S<span> - </span></li>
        <li>Lufthavnsboulevarden 6 <span> - </span></li>
        <li>2770 Kastrup <span> - </span></li>
        <li>Denmark <span> · </span></li>
        <li>CVR 14 70 72 04</li>
      </ul>
      <ul class="gap-list">
        <li><a href="">Cookiepolitik</a></li>
        <li><a href="">Privatlivspolitik</a></li>
        <li><a href="">Vilkår for hjemmeside</a></li>
        <li><a href="">Vilkår for CPH app</a></li>
      </ul>
    </div>

    <div>
      <Image src={logoWhite} alt="cph logo" class="object-cover w-fit" />
    </div>
  </div>

  <style>
    .upper {
      display: flex;
      justify-content: space-evenly;
      background: var(--cph-blue);
      padding: 60px 20px 40px;

      @media (width<768px) {
        flex-direction: column;
        align-items: center;
        padding-inline: 0;
      }
    }
    .lists {
      display: flex;

      @media (width<1024px) {
        display: none;
      }
    }
    .lists ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 222px;
      color: var(--cph-white);
      font-size: var(--fs-small);

      & li:first-child {
        font-weight: var(--fw-bold);
      }
    }
    .ads {
      padding-top: 32px;
    }
    .app {
      display: flex;
      background: var(--footer-blue);
      min-width: max-content;
      border-radius: 10px;
      padding: 15px 25px 0 5px;
      margin-block: 35px 70px;

      & > img {
        margin-top: -50px;
      }
      & p {
        font-size: var(--fs-smaller);
        font-weight: var(--fw-bold);
        color: var(--cph-white);
        margin-bottom: 14px;
      }
      & .getapps img {
        height: 36px;
        margin-bottom: 8px;
      }
    }

    .socials {
      display: flex;
      justify-content: space-between;

      & img {
        filter: brightness(0) invert(1);
      }
    }
    .lower {
      padding: 32px 40px;
      display: flex;
      justify-content: space-between;
      background: var(--footer-blue);
      color: var(--cph-white);
      font-size: var(--fs-smaller);

      & > div {
        display: grid;
        gap: 8px;

        @media (width<660px) {
          gap: 24px;
        }
      }
      & .small-gap-list {
        display: flex;
        gap: 4px;

        @media (width<660px) {
          flex-direction: column;

          & li span {
            display: none;
          }
        }
      }
      & .gap-list {
        display: flex;
        gap: 12px;

        @media (width<482px) {
          flex-direction: column;
          gap: 6px;
        }
      }
      & img {
        height: 60px;

        @media (width<768px) {
          align-self: end;
        }
      }

      @media (width<768px) {
        flex-direction: column;
        gap: 32px;
        padding: 24px 24px;
      }
    }
    .small-screen-lists {
      display: none;
      width: 400px;
      max-width: 100%;

      @media (width<1024px) {
        display: block;
      }
    }
    .small-screen-lists li {
      color: var(--cph-white);
    }
    .menu-item {
      position: relative;
      display: grid;
      font-weight: var(--fw-bold);
      font-size: var(--fs-p);
      padding: 24px 30px;
      border-bottom: 1px solid var(--grey-light);
      cursor: pointer;
    }
    .menu-label {
      display: grid;
      align-items: center;
    }
    .menu-label::after,
    .menu-label::before {
      position: absolute;
      right: 40px;
      content: " ";
      height: 22px;
      width: 3px;
      background-color: var(--cph-white);
      transition: transform 0.5s;
    }
    .menu-label::after {
      transform: rotate(-90deg);
    }
    .menu-checkbox:checked + .menu-label::after {
      transform: rotate(-45deg);
    }
    .menu-checkbox:checked + .menu-label::before {
      transform: rotate(45deg);
    }
    .menu-checkbox {
      position: absolute;
      inset: 0;
      opacity: 0;
      cursor: pointer;
    }
    .sub-list {
      display: none;
      flex-direction: column;
    }
    .sub-list li {
      padding: 10px 30px;
    }

    .menu-item:has(input:checked) + .sub-list {
      display: flex;
      transition: all 1s ease-in;
    }
  </style>
</footer>
