---
const { cardIcon, iconAlt, cardTitle, cardDescription, targetLocation } = Astro.props;
import { Image } from "astro:assets";
---

<a href={targetLocation} class="h-full">
  <div
    class="flex flex-col-reverse shadow-card hover:shadow-cardHover transition px-6 py-4 gap-3 justify-end items-center rounded-xl h-full xl:flex-row xl:justify-center xl:items-start"
  >
    <div>
      <p class="font-bold my-2">{cardTitle}</p>
      <p class="text-small">{cardDescription}</p>
    </div>
    <Image src={cardIcon} alt={iconAlt} class="self-center w-14 md:w-12 lg:w-14"/>
  </div>
</a>
